.DS_Store
.rvmrc
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.sublime-project
*.sublime-workspace
spec/files/pt_mater.rb
spec/files/pt_mater.sh

# YARD artifacts
.yardoc
_yardoc
doc/
